
{% extends "flashcards/base.html" %}

{% load static %}

{% block content %}
	
<style>
  .to-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .center{
    margin-top: 35%;

  }
</style>
<div class="to-flex center" style="background-color: RGB(230,230,230); border: 2px; border-color:red">
  <form id="post-form" method="POST" action="checkview">
      {% csrf_token %}
      <div class="to-flex">
        <div style="padding: 5px; margin-top: 10px">
      <label>Room Name</label>
      <input type="text" name="room_name" id="room_name" width="100px" />
    </div>
    <input class="btn btn-success mb-3" type="submit" value="Enter Room">

    </div>
  </form>
</div>

{% endblock %}

